In [1]:
import pandas as pd
import numpy as np

In [2]:
df_1 = pd.read_csv('./data/sample_submission.csv')
df_1.head()

   ID  Adoption  Died  Euthanasia  Return_to_owner  Transfer
0   1         1     0           0                0         0
1   2         1     0           0                0         0
2   3         1     0           0                0         0
3   4         1     0           0                0         0
4   5         1     0           0                0         0

In [3]:
df_1.columns

Index(['ID', 'Adoption', 'Died', 'Euthanasia', 'Return_to_owner', 'Transfer'], dtype='object')

In [4]:
df_1.sum().index

Index(['ID', 'Adoption', 'Died', 'Euthanasia', 'Return_to_owner', 'Transfer'], dtype='object')

In [5]:
df_test = pd.read_csv('./data/test.csv')
df_test.sample(5)

,ID,Name,DateTime,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
7805,7806,NaN,2015-11-10 11:59:00,Dog,Neutered Male,2 months,Australian Cattle Dog Mix,Brown Brindle/White
3069,3070,NaN,2015-06-21 09:00:00,Cat,Intact Male,2 years,Domestic Shorthair Mix,Black/White
9285,9286,Daisy,2016-01-20 13:28:00,Dog,Intact Female,1 year,Golden Retriever Mix,Yellow
6624,6625,Twilight,2013-10-09 13:13:00,Dog,Spayed Female,2 years,Chihuahua Shorthair Mix,White/Brown
3141,3142,Jax,2015-04-13 11:36:00,Dog,Neutered Male,1 year,Flat Coat Retriever Mix,Black

In [6]:
df_test.shape

(11456, 8)

In [7]:
df_train = pd.read_csv('./data/train.csv')
df_train.sample(5)

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
12011,A693319,NaN,2014-12-10 12:17:00,Euthanasia,Aggressive,Dog,Intact Male,2 years,Labrador Retriever/Chow Chow,Black
18155,A677983,Neo,2015-06-02 13:20:00,Euthanasia,Suffering,Dog,Neutered Male,2 years,Staffordshire Mix,Blue/White
339,A675983,NaN,2014-04-03 15:19:00,Transfer,SCRP,Cat,Intact Female,8 months,Domestic Shorthair Mix,Blue Tabby
23438,A669640,Sissy,2014-08-08 13:27:00,Euthanasia,Court/Investigation,Dog,Intact Female,1 year,Australian Kelpie Mix,Brown/White
17313,A676241,NaN,2014-04-12 12:24:00,Adoption,NaN,Dog,Spayed Female,2 months,German Shepherd/Doberman Pinsch,Black/Tan

In [8]:
df_train.shape

(26729, 10)

# Search duplicates in train dataset

In [9]:
df_train.shape

(26729, 10)

In [10]:
# find current duplicates in train
df_train.duplicated().sum()

np.int64(0)

In [11]:
# find current duplicates in test
df_test.duplicated().sum()

np.int64(0)

In [12]:
df_train.columns

Index(['AnimalID', 'Name', 'DateTime', 'OutcomeType', 'OutcomeSubtype',
       'AnimalType', 'SexuponOutcome', 'AgeuponOutcome', 'Breed', 'Color'],
      dtype='object')

In [13]:
df_test.columns

Index(['ID', 'Name', 'DateTime', 'AnimalType', 'SexuponOutcome',
       'AgeuponOutcome', 'Breed', 'Color'],
      dtype='object')

In [14]:
# drop target columns from train.csv so we can find duplicated rows
df_train_2 = df_train.drop(['OutcomeType', 'OutcomeSubtype'], axis=1)

In [15]:
# find if column id matches between dataframes
df_test['ID'].isin(df_train['AnimalID']).sum()

np.int64(0)

In [16]:
# rename id col for matching
df_test = df_test.rename(columns={"ID": 'AnimalID'})

In [17]:
# we can now merge both dataframes so we get more data
df = pd.concat([df_train_2, df_test])
df.shape

(38185, 8)

In [18]:
# find duplicates between dataframes
df.duplicated().sum()

np.int64(0)

# 1. EDA

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38185 entries, 0 to 11455
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   AnimalID        38185 non-null  object
 1   Name            27269 non-null  object
 2   DateTime        38185 non-null  object
 3   AnimalType      38185 non-null  object
 4   SexuponOutcome  38184 non-null  object
 5   AgeuponOutcome  38161 non-null  object
 6   Breed           38185 non-null  object
 7   Color           38185 non-null  object
dtypes: object(8)
memory usage: 2.6+ MB

In [20]:
df.sample(10)

,AnimalID,Name,DateTime,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
4622,A699397,Juno,2015-05-22 16:49:00,Cat,Spayed Female,7 years,Domestic Shorthair Mix,Torbie
385,A672744,Oso,2014-04-17 17:09:00,Dog,Intact Male,3 years,Rottweiler Mix,Black/Tan
2582,A355688,Shadow,2014-02-23 17:48:00,Dog,Neutered Male,9 years,Australian Shepherd/Chow Chow,Blue
19839,A697214,Winston,2015-02-23 17:37:00,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Blue
11957,A675896,Emma,2014-04-06 14:41:00,Cat,Spayed Female,2 years,Maine Coon Mix,Brown Tabby
19303,A696213,NaN,2015-02-01 09:00:00,Cat,Intact Female,3 years,Domestic Shorthair Mix,Orange Tabby
22170,A687933,Herbie,2014-10-10 15:35:00,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,Cream/White
10474,10475,Ariya,2015-09-01 11:09:00,Dog,Spayed Female,1 year,Pit Bull/Labrador Retriever,Black/White
20788,A674713,Honey,2014-04-17 13:47:00,Dog,Spayed Female,1 year,Plott Hound Mix,Brown Brindle/White
743,744,Amy,2013-12-31 15:26:00,Cat,Intact Female,2 months,Domestic Shorthair Mix,Black/White

In [21]:
# find null values
df.isna().sum()

AnimalID              0
Name              10916
DateTime              0
AnimalType            0
SexuponOutcome        1
AgeuponOutcome       24
Breed                 0
Color                 0
dtype: int64

In [22]:
df.shape

(38185, 8)

### Before statistical analysis on numeric columns, we have to format some data (temporary)

In [23]:
# convert datetime column from object to datetime
df['DateTime'] = pd.to_datetime(df['DateTime'], errors='raise')
df['DateTime']

0       2014-02-12 18:22:00
1       2013-10-13 12:44:00
2       2015-01-31 12:28:00
3       2014-07-11 19:09:00
4       2013-11-15 12:52:00
                ...
11451   2014-07-08 14:50:00
11452   2014-10-21 12:57:00
11453   2014-09-29 09:00:00
11454   2015-09-05 17:16:00
11455   2014-07-12 18:40:00
Name: DateTime, Length: 38185, dtype: datetime64[ns]

In [24]:
# standarize age column
df['AgeuponOutcome'].value_counts()

AgeuponOutcome
1 year       5737
2 years      5383
2 months     4929
3 years      2589
3 months     1788
1 month      1782
4 years      1506
5 years      1406
4 months     1283
3 weeks       950
5 months      929
6 years       927
6 months      835
8 years       772
7 years       769
2 weeks       727
10 months     653
10 years      598
8 months      569
4 weeks       465
7 months      455
9 years       394
12 years      330
9 months      313
1 weeks       247
11 months     241
1 week        220
13 years      214
11 years      174
3 days        148
14 years      143
2 days        139
15 years      115
1 day          84
6 days         80
4 days         78
16 years       45
5 days         38
0 years        35
17 years       30
5 weeks        15
18 years       12
20 years        7
19 years        5
22 years        2
Name: count, dtype: int64

In [25]:
def standarize_age(age):
    if pd.isna(age):
        return None
    
    value, period = age.strip().split()
    value = int(value)
    
    if 'week' in period:
        return value * 7
    elif 'month' in period:
        return value * 30
    elif 'year' in period:
        return value * 365
    else:
        return None

In [26]:
df['AgeuponOutcome'].head(10)

0      1 year
1      1 year
2     2 years
3     3 weeks
4     2 years
5     1 month
6     3 weeks
7     3 weeks
8    5 months
9      1 year
Name: AgeuponOutcome, dtype: object

In [27]:
df['AgeuponOutcome'].apply(standarize_age)

0         365.0
1         365.0
2         730.0
3          21.0
4         730.0
          ...
11451      60.0
11452      14.0
11453     365.0
11454    2190.0
11455    1460.0
Name: AgeuponOutcome, Length: 38185, dtype: float64

In [28]:
# df_1 = df.copy()
# df = df_1.copy()

In [29]:
df['AgeuponOutcome'] = df['AgeuponOutcome'].apply(standarize_age)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38185 entries, 0 to 11455
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   AnimalID        38185 non-null  object
 1   Name            27269 non-null  object
 2   DateTime        38185 non-null  datetime64[ns]
 3   AnimalType      38185 non-null  object
 4   SexuponOutcome  38184 non-null  object
 5   AgeuponOutcome  37594 non-null  float64
 6   Breed           38185 non-null  object
 7   Color           38185 non-null  object
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 2.6+ MB

In [31]:
df['Breed'].sample(5)

7570      Labrador Retriever Mix
9371              Pomeranian Mix
4475     Chihuahua Shorthair Mix
21237     Domestic Shorthair Mix
2829                Pit Bull Mix
Name: Breed, dtype: object

In [32]:
df['Breed'].value_counts()

Breed
Domestic Shorthair Mix               12587
Pit Bull Mix                          2776
Chihuahua Shorthair Mix               2498
Labrador Retriever Mix                1949
Domestic Medium Hair Mix              1217
                                     ...
Norfolk Terrier/Dachshund                1
Miniature Poodle/Golden Retriever        1
Labrador Retriever/Chesa Bay Retr        1
Norwegian Elkhound Mix                   1
Collie Rough/Golden Retriever            1
Name: count, Length: 1678, dtype: int64

In [33]:
df['Breed'].nunique()

1678

In [34]:
df['Color'].sample(5)

453      Black/White
2923     Brown/White
45          Tricolor
12852      Black/Tan
1753     Black/Brown
Name: Color, dtype: object

In [35]:
df['Color'].value_counts()

Color
Black/White                  4043
Black                        3265
Brown Tabby                  2359
Brown Tabby/White            1333
White                        1333
                             ...
Brown Brindle/Brown Merle       1
Blue/Brown                      1
Calico/Orange Tabby             1
White/Flame Point               1
Gray/Blue                       1
Name: count, Length: 411, dtype: int64

In [36]:
df['Color'].nunique()

411

### Add a column isMix to reduce reed dimensionality

In [37]:
df['Breed'].str.contains('Mix')

0         True
1         True
2         True
3         True
4        False
         ...
11451     True
11452     True
11453     True
11454     True
11455    False
Name: Breed, Length: 38185, dtype: bool

In [38]:
df.loc[df['Breed'].str.contains('Mix'), 'isMix'] = True

In [39]:
df.head(10)

,AnimalID,Name,DateTime,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,isMix
0,A671945,Hambone,2014-02-12 18:22:00,Dog,Neutered Male,365.0,Shetland Sheepdog Mix,Brown/White,True
1,A656520,Emily,2013-10-13 12:44:00,Cat,Spayed Female,365.0,Domestic Shorthair Mix,Cream Tabby,True
2,A686464,Pearce,2015-01-31 12:28:00,Dog,Neutered Male,730.0,Pit Bull Mix,Blue/White,True
3,A683430,NaN,2014-07-11 19:09:00,Cat,Intact Male,21.0,Domestic Shorthair Mix,Blue Cream,True
4,A667013,NaN,2013-11-15 12:52:00,Dog,Neutered Male,730.0,Lhasa Apso/Miniature Poodle,Tan,NaN
5,A677334,Elsa,2014-04-25 13:04:00,Dog,Intact Female,30.0,Cairn Terrier/Chihuahua Shorthair,Black/Tan,NaN
6,A699218,Jimmy,2015-03-28 13:11:00,Cat,Intact Male,21.0,Domestic Shorthair Mix,Blue Tabby,True
7,A701489,NaN,2015-04-30 17:02:00,Cat,Unknown,21.0,Domestic Shorthair Mix,Brown Tabby,True
8,A671784,Lucy,2014-02-04 17:17:00,Dog,Spayed Female,150.0,American Pit Bull Terrier Mix,Red/White,True
9,A677747,NaN,2014-05-03 07:48:00,Dog,Spayed Female,365.0,Cairn Terrier,White,NaN

In [40]:
df.loc[df['isMix'].isna(), 'isMix'] = False

In [41]:
df.head(10)

,AnimalID,Name,DateTime,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,isMix
0,A671945,Hambone,2014-02-12 18:22:00,Dog,Neutered Male,365.0,Shetland Sheepdog Mix,Brown/White,True
1,A656520,Emily,2013-10-13 12:44:00,Cat,Spayed Female,365.0,Domestic Shorthair Mix,Cream Tabby,True
2,A686464,Pearce,2015-01-31 12:28:00,Dog,Neutered Male,730.0,Pit Bull Mix,Blue/White,True
3,A683430,NaN,2014-07-11 19:09:00,Cat,Intact Male,21.0,Domestic Shorthair Mix,Blue Cream,True
4,A667013,NaN,2013-11-15 12:52:00,Dog,Neutered Male,730.0,Lhasa Apso/Miniature Poodle,Tan,False
5,A677334,Elsa,2014-04-25 13:04:00,Dog,Intact Female,30.0,Cairn Terrier/Chihuahua Shorthair,Black/Tan,False
6,A699218,Jimmy,2015-03-28 13:11:00,Cat,Intact Male,21.0,Domestic Shorthair Mix,Blue Tabby,True
7,A701489,NaN,2015-04-30 17:02:00,Cat,Unknown,21.0,Domestic Shorthair Mix,Brown Tabby,True
8,A671784,Lucy,2014-02-04 17:17:00,Dog,Spayed Female,150.0,American Pit Bull Terrier Mix,Red/White,True
9,A677747,NaN,2014-05-03 07:48:00,Dog,Spayed Female,365.0,Cairn Terrier,White,False

In [42]:
df['Breed'] = df['Breed'].str.replace('Mix', '').str.strip()

In [43]:
df['Breed'].value_counts()

Breed
Domestic Shorthair                           12781
Pit Bull                                      2877
Chihuahua Shorthair                           2623
Labrador Retriever                            2059
Domestic Medium Hair                          1284
                                             ...
Shiba Inu/Siberian Husky                         1
Cardigan Welsh Corgi/Jack Russell Terrier        1
Norfolk Terrier/Dachshund                        1
Miniature Poodle/Golden Retriever                1
Collie Rough/Golden Retriever                    1
Name: count, Length: 1527, dtype: int64

### There are a lot of breed categories, so we will use only the first breed if there are more than 1

In [44]:
df[['Breed1', 'Breed2', 'Breed3']] = df['Breed'].str.split('/', expand=True)

In [45]:
df['Breed3'].value_counts()

Breed3
Tan Hound             9
Black Mouth Cur       2
Labrador Retriever    1
German Shepherd       1
Siberian Husky        1
Name: count, dtype: int64

In [46]:
df[['Color1', 'Color2']] = df['Color'].str.split('/', expand=True)

In [47]:
df['Color1'].value_counts()

Color1
Black                9201
White                4731
Brown Tabby          3715
Brown                2794
Tan                  2393
Orange Tabby         1820
Blue                 1742
Tricolor             1131
Red                  1107
Brown Brindle        1035
Blue Tabby            958
Tortie                829
Calico                760
Chocolate             646
Torbie                567
Sable                 459
Cream Tabby           438
Buff                  358
Yellow                350
Cream                 316
Gray                  314
Fawn                  295
Lynx Point            276
Blue Merle            240
Seal Point            234
Black Brindle         144
Flame Point           121
Gold                  103
Black Smoke           102
Black Tabby            95
Brown Merle            93
Silver                 74
Red Merle              66
Orange                 61
Gray Tabby             60
Blue Tick              58
Red Tick               56
Lilac Point            56
Silver Tabby           54
Yellow Brindle         45
Blue Point             44
Tortie Point           42
Apricot                41
Calico Point           35
Chocolate Point        29
Blue Cream             28
Liver                  26
Blue Tiger             13
Blue Smoke              9
Brown Tiger             4
Liver Tick              4
Silver Lynx Point       4
Agouti                  3
Pink                    2
Black Tiger             2
Ruddy                   1
Orange Tiger            1
Name: count, dtype: int64

In [48]:
df['Color2'].value_counts()

Color2
White              12631
Black               1985
Tan                 1981
Brown               1512
Brown Brindle        231
Blue                 205
Gray                 175
Tricolor             154
Brown Tabby          149
Red                  134
Cream                111
Buff                  82
Orange Tabby          71
Chocolate             63
Orange                62
Silver                43
Blue Merle            33
Blue Tabby            27
Red Tick              24
Black Brindle         22
Blue Cream            18
Brown Merle           16
Blue Tick             14
Liver                 14
Yellow Brindle        12
Red Merle             10
Gold                  10
Yellow                 9
Black Smoke            9
Black Tabby            7
Calico                 7
Tortie                 6
Apricot                6
Cream Tabby            6
Gray Tabby             4
Lynx Point             4
Pink                   3
Chocolate Point        3
Seal Point             2
Blue Tiger             1
Blue Smoke             1
Brown Tiger            1
Silver Tabby           1
Flame Point            1
Tortie Point           1
Gray Tiger             1
Name: count, dtype: int64

- For practicity, we will only use the first Breed and Color columns

### Get datetime columns

In [58]:
df['hour'] = df['DateTime'].dt.hour
df['weekday'] = df['DateTime'].dt.weekday
df['month'] = df['DateTime'].dt.month

* Get TimeOfDay (morning/midday/evening/night)

In [61]:
# we'll use the cut() method
bins = [0, 5, 11, 13, 17, 21, 23]
labels = ['night', 'morning', 'midday', 'afternoon', 'evening', 'late night']

df['time_of_day'] = pd.cut(df['hour'], bins=bins, labels=labels, include_lowest=True)

* Get more derived variables

In [63]:
df.columns

Index(['AnimalID', 'Name', 'DateTime', 'AnimalType', 'SexuponOutcome',
       'AgeuponOutcome', 'Breed', 'Color', 'isMix', 'Breed1', 'Breed2',
       'Breed3', 'Color1', 'Color2', 'hour', 'weekday', 'month',
       'time_of_day'],
      dtype='object')

In [73]:
# 2 ways
# df['has_name'] = np.where(df['Name'].isna(), 'yes', 'no')
df['has_name'] = df['Name'].notna().map({True: 'yes', False: 'no'})

In [75]:
df['SexuponOutcome'].value_counts()

SexuponOutcome
Neutered Male    14014
Spayed Female    12633
Intact Female     5004
Intact Male       4985
Unknown           1548
Name: count, dtype: int64

* Separate Sex & Intact status

In [80]:
df[['status', 'sex']] = df['SexuponOutcome'].str.split(' ', expand=True)

* Fill na values with the default 'Unknown' value

In [ ]:
df[['status', 'sex']] = df[['status', 'sex']].fillna('Unknown')

* LifeStage Variable (>365 days threshold)

In [97]:
df['life_stage'] = np.where(df['AgeuponOutcome'] > 365, 'adult', 'baby')

In [95]:
df.columns

Index(['AnimalID', 'Name', 'DateTime', 'AnimalType', 'SexuponOutcome',
       'AgeuponOutcome', 'Breed', 'Color', 'isMix', 'Breed1', 'Breed2',
       'Breed3', 'Color1', 'Color2', 'hour', 'weekday', 'month', 'time_of_day',
       'has_name', 'sex', 'status'],
      dtype='object')

In [ ]:
df['life_stage']

0         365.0
1         365.0
2         730.0
3          21.0
4         730.0
          ...
11451      60.0
11452      14.0
11453     365.0
11454    2190.0
11455    1460.0
Name: AgeuponOutcome, Length: 38185, dtype: float64

In [98]:
df['life_stage'].head(10)

0     baby
1     baby
2    adult
3     baby
4    adult
5     baby
6     baby
7     baby
8     baby
9     baby
Name: life_stage, dtype: object